<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.asset.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>CreateAsset</servlet-name>
        <servlet-name>SearchAsset</servlet-name>
        <servlet-name>NewServlet</servlet-name>
        <servlet-name>CreateTicket</servlet-name>
        <servlet-name>UpdateTicket</servlet-name>
        <servlet-name>SearchTicket</servlet-name>
        <servlet-name>TicketCreate</servlet-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-name>EditTicket</servlet-name>
        <servlet-name>SearchAllTicket</servlet-name>
        <servlet-name>EditTicketAdmin</servlet-name>
        <servlet-name>UpdateTicketAdmin</servlet-name>
        <servlet-name>AssetDeliver</servlet-name>
        <servlet-name>PersonDeliver</servlet-name>
        <servlet-name>MatchDeliver</servlet-name>
        <servlet-name>Deliver</servlet-name>
        <servlet-name>DeliverDetail</servlet-name>
        <servlet-name>RecieveAsset</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/back/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/front/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>CreateAsset</servlet-name>
        <servlet-class>com.asset.servlet.CreateAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAsset</servlet-name>
        <servlet-class>com.asset.servlet.SearchAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.asset.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTicket</servlet-name>
        <servlet-class>com.asset.servlet.CreateTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTicket</servlet-name>
        <servlet-class>com.asset.servlet.UpdateTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTicket</servlet-name>
        <servlet-class>com.asset.servlet.SearchTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketCreate</servlet-name>
        <servlet-class>com.asset.servlet.CreateTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.asset.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.asset.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTicket</servlet-name>
        <servlet-class>com.asset.servlet.EditTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllTicket</servlet-name>
        <servlet-class>com.asset.servlet.SearchAllTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTicketAdmin</servlet-name>
        <servlet-class>com.asset.servlet.EditTicketAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTicketAdmin</servlet-name>
        <servlet-class>com.asset.servlet.UpdateTicketAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetDeliver</servlet-name>
        <servlet-class>com.asset.servlet.AssetDeliver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonDeliver</servlet-name>
        <servlet-class>com.asset.servlet.PersonDeliver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchDeliver</servlet-name>
        <servlet-class>com.asset.servlet.MatchDeliver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deliver</servlet-name>
        <servlet-class>com.asset.servlet.Deliver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliverDetail</servlet-name>
        <servlet-class>com.asset.servlet.DeliverDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecieveAsset</servlet-name>
        <servlet-class>com.asset.servlet.RecieveAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptDeliver</servlet-name>
        <servlet-class>com.asset.servlet.AcceptDeliver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.asset.servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAsset</servlet-name>
        <servlet-class>com.asset.servlet.EditAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAssetReal</servlet-name>
        <servlet-class>com.asset.servlet.EditAssetReal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAssetTyoe</servlet-name>
        <servlet-class>com.asset.servlet.AddAssetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAssetBrand</servlet-name>
        <servlet-class>com.asset.servlet.AddAssetBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAssetForm</servlet-name>
        <servlet-class>com.asset.servlet.AddAssetForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForm</servlet-name>
        <servlet-class>com.asset.servlet.SearchForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAsset</servlet-name>
        <servlet-class>com.asset.servlet.RemoveAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAsset</servlet-name>
        <servlet-class>com.asset.servlet.DeleteAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreAsset</servlet-name>
        <servlet-class>com.asset.servlet.RestoreAsset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDonate</servlet-name>
        <servlet-class>com.asset.servlet.ViewDonate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonateAsset</servlet-name>
        <servlet-class>com.asset.servlet.DonateAsset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAsset</servlet-name>
        <url-pattern>/addasset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAsset</servlet-name>
        <url-pattern>/searchasset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/searchassettest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTicket</servlet-name>
        <url-pattern>/addticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTicket</servlet-name>
        <url-pattern>/viewticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketCreate</servlet-name>
        <url-pattern>/openticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTicket</servlet-name>
        <url-pattern>/updateticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTicket</servlet-name>
        <url-pattern>/editticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllTicket</servlet-name>
        <url-pattern>/viewallticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTicketAdmin</servlet-name>
        <url-pattern>/editticketstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTicketAdmin</servlet-name>
        <url-pattern>/updateticketadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetDeliver</servlet-name>
        <url-pattern>/assetdeliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonDeliver</servlet-name>
        <url-pattern>/persondeliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchDeliver</servlet-name>
        <url-pattern>/matchdeliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deliver</servlet-name>
        <url-pattern>/deliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliverDetail</servlet-name>
        <url-pattern>/viewdeliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecieveAsset</servlet-name>
        <url-pattern>/deliverrecieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptDeliver</servlet-name>
        <url-pattern>/acceptdeliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/back</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAsset</servlet-name>
        <url-pattern>/editasset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAssetReal</servlet-name>
        <url-pattern>/editassetreal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAssetTyoe</servlet-name>
        <url-pattern>/addassettype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAssetBrand</servlet-name>
        <url-pattern>/addassetbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAssetForm</servlet-name>
        <url-pattern>/addform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForm</servlet-name>
        <url-pattern>/searchform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAsset</servlet-name>
        <url-pattern>/removeasset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAsset</servlet-name>
        <url-pattern>/viewdeleteasset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreAsset</servlet-name>
        <url-pattern>/restoreasset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDonate</servlet-name>
        <url-pattern>/viewdonateasset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonateAsset</servlet-name>
        <url-pattern>/donateasset</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
